:root {
  --scroll-hot-pink: #ff8dc6;
  --scroll-background: #ffb3d9;
}

.board-list {
  border: solid 1px;
  width: 300px;
  height: 250px;
  overflow-y: scroll;
  scrollbar-color: var(--scroll-hot-pink) var(--scroll-background);
  scrollbar-width: thin;
}