:root {
    --button-hot-pink: #ff8dc6;
    --button-hover: #ffb3d9;
}

.btn.btn-secondary {
  background-color: var(--button-hot-pink);
  border: var(--button-hot-pink);
}

.btn.btn-secondary:hover {
  background-color: var(--button-hover);
  border: var(--button-hover);
}